
<!--        <li><%= image_tag 'image1.jpg' %></li>
        <li><%= image_tag 'image2.jpg' %></li>
        <li><%= image_tag 'image3.jpg' %></li> -->

<div class="_slider">
    <a href="#" class="_slider_next">&#10095;</a>
    <a href="#" class="_slider_prev">&#10094;</a>
    <ul>
        <li><%= image_tag 'image1.jpg' %></li>
        <li><%= image_tag 'image2.jpg' %></li>
        <li><%= image_tag 'image3.jpg' %></li>
    </ul>  
</div>
